@font-face {
    font-family: "Gilroy Regular";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "Gilroy Semibold";
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  }
  @font-face {
    font-family: "Gilroy Ultra Light";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Gilroy-UltraLight.woff2") format("woff2"), url("../fonts/Gilroy-UltraLight.woff") format("woff");
  }
  @font-face {
    font-family: "Arial";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/arialregular.woff") format("woff");
  }
  @font-face {
    font-family: "Arial";
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/arialbold.woff") format("woff");
  }
  img {
    width: 100%;
    height: 100%;
    display: block;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
  }
  .page {
    height: 100%;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    font-family: "Gilroy Regular", "Arial", sans-serif;
  }
  .page__body {
    min-height: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    color: #000000;
  }
  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1200px;
  }
  @media (min-width: 768px) {
    .page-header__wrapper {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  @media (min-width: 1280px) {
    .page-header__wrapper {
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 60px;
    }
  }
  .logo-gallo__image {
    padding-right: 20px;
  }
  .page-main__sliders {
    padding-left: 12px;
    padding-right: 12px;
  }
  @media (min-width: 768px) {
    .page-main__sliders {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  @media (min-width: 1280px) {
    .page-main__sliders {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .slider-list {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
  .slide {
    display: none;
  }
  .slide-current {
    display: block;
  }
  .slide-img {
    min-height: 340px;
    object-fit: cover;

  }
  .slide__wrapper-position {
    position: relative;
    z-index: 1;
  }
  .slide__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1d9cd8;
    padding: 10px 10px;
    min-height: 60px;
  }
  @media (min-width: 768px) {
    .slide__wrapper {
      padding: 10px 20px;
    }
  }
  @media (min-width: 1280px) {
    .slide__wrapper {
      padding: 10px 60px;
    }
  }
  .slide-title {
    font-family: "Gilroy Semibold";
    font-size: 14px;
    letter-spacing: 2px;
    color:#FFFFFF;
    margin: 0;
  }
  @media (min-width: 1280px) {
    .slide-title {
      font-size: 20px;
    }
  }
  .slide-text {
    color:#FFFFFF;
    letter-spacing: 1px;
    margin: 0;
    margin-top: 2px;
  }
  .slide__wrapper-quote {
    background-color: transparent;
    padding: 15px 10px;
    position: absolute;
    z-index: 2;
    bottom: 100%;
  }
  @media (min-width: 768px) {
    .slide__wrapper-quote {
      padding: 15px 20px;
    }
  }
  @media (min-width: 1280px) {
    .slide__wrapper-quote {
      padding: 20px 60px;
    }
  }
  .quote-right {
    left: 100%;
    margin-left: -212px;
  }
  @media (min-width: 768px) {
    .quote-right {
      margin-left: -297px;
    }
  }
  @media (min-width: 1280px) {
    .quote-right {
      margin-left: -486px;
    }
  }
  .slide-quote {
    font-family: "Gilroy Semibold";
    font-size: 24px;
    line-height: 100%;
    color: #000000;
    margin: 0;
  }
  @media (min-width: 1280px) {
    .slide-quote {
      font-size: 40px;
    }
  }
  .slide-quote-1 {
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 100%;
    margin: 0;
  }
  @media (min-width: 768px) {
    .slide-quote-1 {
      font-size: 24px;
    }
  }
  @media (min-width: 1280px) {
    .slide-quote-1 {
      font-size: 60px;
    }
  }
  .slide-quote-2 {
    font-family: "Gilroy Semibold";
    font-size: 98px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 100%;
    margin: 0;
  }
  @media (min-width: 768px) {
    .slide-quote-2 {
      font-size: 132px;
    }
  }
  @media (min-width: 1280px) {
    .slide-quote-2 {
      font-size: 190px;
    }
  }
  .slide-quote__wrapper-blue {
    color: #007aff;
  }
  .slide-quote__wrapper-white {
    color: #FFFFFF;
  }
  .slider-controls {
    min-height: 50px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  @media (min-width: 1280px) {
    .slider-controls {
      min-height: 90px;
      max-width: 1200px;
      margin: 0 auto;
    }
  }
  .button {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 3px 4px;
    background: #1d9cd8;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  @media (min-width: 768px) {
    .button {
      margin: 0 10px;
    }
  }
  .button:hover {
    opacity: 0.8;
  }
  .button:active {
    background: #000000;
  }
  .current {
    background: #000000;
  }
  .page-main__menu {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 1200px;
    margin: 0 auto;
  }
  @media (min-width: 768px) {
    .page-main__menu {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  @media (min-width: 1280px) {
    .page-main__menu {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  @media (min-width: 1280px) {
    .page-main__wrapper {
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }
  .navigation__list {
    margin: 0;
    padding: 0 10px;
    padding-top: 40px;
    min-height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  @media (min-width: 1280px) {
    .navigation__list {
      padding: 0;
      min-height: 600px;
      align-items: flex-start;
      justify-content: center;
    }
  }
  .menu-main__foto {
    margin: 0;
    padding: 0;
  }
  .item-foto {
    display: none;
  }
  @media (min-width: 1280px) {
    .item-foto {
      display: block;
    }
  }
  .item-nav {
    padding: 8px 0;
  }
  @media (min-width: 1280px) {
    .item-nav {
      padding: 10px 0;
    }
  }
  .item-nav__href {
    font-family: "Gilroy Semibold";
    font-size: 14px;
    letter-spacing: 2px;
    color: #1d9cd8;
  }
  @media (min-width: 1280px) {
    .item-nav__href {
      font-size: 20px;
    }
  }
  .item-nav__href:hover {
    color: #000000;
  }
  .item-nav__href:active {
    color: #000000;
  }
  .href-current {
    color:#000000;
  }
  .page-footer {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 80px;
    padding-bottom: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  @media (min-width: 768px) {
    .page-footer {
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 120px;
      padding-bottom: 40px;
    }
  }
  @media (min-width: 1280px) {
    .page-footer {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 220px;
    }
  }
  @media (min-width: 768px) {
    .page-footer__wrapper {
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }
  @media (min-width: 1280px) {
    .page-footer__logo-tel {
      display: flex;
    }
  }
  .page-footer__logo {
    width: 86px;
    height: 45px;
    margin-right: 20px;
  }
  .tel__href {
    font-size: 27px;
    line-height: 100%;
    font-weight: bold;
    color: #000000; 
  }
  .tel__href:hover {
    text-decoration: underline;
  }
  .tel__text {
    font-size: 12px;
    margin: 0;
    margin-top: 10px;
  }
  .page-footer__tel {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 40px;
  }
  @media (min-width: 1280px) {
    .page-footer__tel {
      margin: 0;
      margin-top: 5px;
    }
  }
  .page-footer__menu {
    min-height: 192px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .item-menu {
    margin-bottom: 20px;
  }
  .item-menu__href {
    font-size: 12px;
    color: #000000;
    padding-right: 8px;
  }
  .item-menu__href:hover {
    color: #007aff;
  }
  @media (min-width: 1280px) {
    .item-menu__href {
      font-size: 14px;
    }
  }
  .footer__text {
    font-size: 12px;
    margin: 0;
    margin-top: 20px;
  }
  @media (min-width: 1280px) {
    .footer__text {
      font-size: 14px;
      margin-top: 80px;
    }
  }